@model AutoLibrary.Models.CodeModel

<h1>Delete</h1>

<div class="h4">
    Are you sure you want to delete @Model.CodeDescr?
</div>

<form asp-action="Delete">
    <input asp-for="@Model.CodeId" type="hidden" />
    <input asp-for="@Model.CategoryId" type="hidden" />
    <input type="submit" class="btn btn-danger" value="Delete" />
    <a class="btn btn-secondary" href="/Code/Index">Cancel</a>
</form>
